body {
	font-size: 19px;
	background-image: url("Sfondo.jpg");
	background-size: cover;
}

table {
	width: 50%;
	margin: 30px auto;
	border-collapse: collapse;
	text-align: left;
	background: rgba(255, 255, 255, 0.5);
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th, td {
	border: 1px solid #ddd;
	height: 30px;
	padding: 8px;
	text-align: center;
}

tr:hover {
	background: #F5F5F5;
}

form {
	width: 45%;
	margin: 50px auto;
	text-align: left;
	padding: 20px;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.5);
}

.container {
	position: relative;
}

.topright {
	position: absolute;
	top: 2px;
	right: 8px;
	font-size: 18px;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}

.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #2e8b57;
	border: none;
	border-radius: 5px;
}

.edit_btn {
	text-decoration: none;
	padding: 2px 5px;
	background: #2E8B57;
	color: white;
	border-radius: 3px;
}

.rep_btn {
	text-decoration: none;
	padding: 2px 5px;
	color: white;
	border-radius: 3px;
	background: #FF7F50;
}

.del_btn {
	text-decoration: none;
	padding: 2px 5px;
	color: white;
	border-radius: 3px;
	background: #df0404;
}

.msg {
	margin: 30px auto;
	padding: 10px;
	border-radius: 5px;
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	width: 50%;
	text-align: center;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}